body {
    background-image: url('img/background.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    margin: 0; /* Elimina los márgenes por defecto */
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
    width: 100%;
}

.animated-gif {
    position: absolute;
    top: 50%; /* Posiciona el GIF verticalmente en el centro */
    right: 10%; /* Posiciona el GIF a 10px del borde derecho */
    transform: translateY(-50%); /* Centra el GIF verticalmente */
    z-index: 10; /* Asegura que el GIF esté por encima del fondo */
    width: 300px; /* Ajusta el ancho del GIF */
    height: auto; /* Mantiene la proporción del GIF */
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff6f91;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #ff577e;
}

.error-message {
    color: red;
    margin-top: 10px;
}

@keyframes oscillate {
    0% { transform: translateX(0); }
    25% { transform: translateX(10px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.oscillate {
    animation: oscillate 1s infinite;
}
